
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarColor{
  background-color: #18191E;
}

body{
  background-color: #121317;
}

.text-center{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-title{
  color: #06c9ff;
  font-size: 4rem;
  font-weight: bold;
  padding: 10px;
}

.intro-text{
  color: #99A6B2;
  font-size: 1.2rem;
  padding: 10px;
  
}


.home-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}


.btn-get-started{
  background-color: #00C8FF;
  display: flex;
  align-items: center;   /* centra verticalmente ícono y texto */
  justify-content: center; /* centra horizontalmente el contenido */
  gap: 8px; /* espacio entre ícono y texto */
  padding: 20px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  
}

.btn-get-started:hover{
  background-color: #05b1e1;
  transition: background-color 0.3s ease;
}

.btn-sign-up{
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #282C33;
  display: flex;
  align-items: center;   /* centra verticalmente ícono y texto */
  justify-content: center; /* centra horizontalmente el contenido */
  gap: 8px; /* espacio entre ícono y texto */
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 1rem;
}

.btn-sign-up:hover{
  background-color: #333841;
  transition: background-color 0.3s ease;
}

.home-stats {
  display: flex;
  justify-content: center; /* centra los bloques */
  gap: 40px; /* espacio entre bloques */
  margin-top: 20px;
  text-align: center; /* centra el texto dentro de cada bloque */
}

.home-stats .stat h2 {
  font-size: 2rem;
  color: #06c9ff; 
  margin: 0;
}

.home-stats .stat p {
  margin: 5px 0 0 0;
  color: #99A6B2;
}

.why-us h2{
  margin-top: 50px;
  padding: 5px;
  color: #F8FAFC;
  font-size: 1.5rem;
  font-weight: bold;
}

.why-us p{
  color: #99A6B2;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}